# First the dependencies
Django==2.2.20
-r dependencies.txt

# Development packages
tox==3.24.5
twine==1.11.0
ipython==6.4.0
ipdb==0.11
Sphinx==2.4.4
sphinx-rtd-theme==0.1.8
wheel==0.33.6
setuptools==41.4.0
celery==4.4.0
docker-compose==1.27.4

# Add the current project as a package
-e .
