# First the dependencies
Django==4.2.20
-r dependencies.txt

# Development packages
tox==4.6.4
twine==4.0.2
ipython==8.10.0
ipdb==0.13.9
Sphinx==2.4.4
sphinx-rtd-theme==0.1.8
wheel==0.38.1
setuptools==65.5.1
redis==5.0.1

# Add the current project as a package
-e .
